<style type="text/css">
    .eraser {
     cursor: pointer;
  }

</style>

<div class="ui fluid container" style="padding-top: 3%;padding-bottom: 3%;padding-left: 8.5%;padding-right: 13.5%;position: fixed;top: 0;z-index: 10;background-color: white">
    <div class="ui grid">
        <div class="row">
            <div class="ui seven wide column" style="font-size: 30px">
                <a href='/homepage'> campus animals </a>
            </div>
            <div class="ui nine wide column" style="text-align: right; font-size: 15px">
                    <a href="/viewprofiles">browse profiles </a> &nbsp;&nbsp;&nbsp;&nbsp;  
                    <%if !@my_session.nil? %> 
                         <a href="animalprofiles">add/edit profiles </a>&nbsp;&nbsp;&nbsp;&nbsp;
                         <% if @my_session and @my_session == Account.find_by_id(0).username %>
                              <% if session[:random].nil? %>
                                   <a href="/generate_token?origin=homepage">generate login token </a>
                                   &nbsp;&nbsp;&nbsp;&nbsp;
                              <% else %>
                                   <a class="regenerate">token: <%= session[:random] %> </a>
                                   &nbsp; <i class="eraser icon"></i>
                                   &nbsp;&nbsp;&nbsp;&nbsp;
                              <% end %>
                        <% end %>
                        <a href="/logout">logout</a>
                    <% else %> 
                        <a href="/login">log in</a>
                    <% end %>
            </div>
        </div>
    </div>
</div>

<div class="ui container" style="padding-top: 6%;padding-left: 3%;padding-right: 3%">
  <img class='ui fluid image' style='' src="/assets/banner.jpg">

  <div class="ui fluid green button" style="padding: 2.5vw"> 
    <font size="3vw">
      <i class="hand paper icon"></i> PLEDGE TO SUPPORT OUR CAMPIGN<br> 
    </font>
  </div>

  <div class="ui grid">
       <div class="row" style="margin-top: 3%">
            <div class="eight wide column"> 
                 <img class='ui fluid image' style='' src="/assets/logo.jpg">
            </div>
            <div class="eight wide column" style="padding: 5%;padding-top: 8%"> 
                 <div style="text-align: center; letter-spacing: 5px;font-size: 30px;font-weight: bold;margin-top: 5%">
                   ABOUT US
                 </div>
                 <div style="text-align: center; letter-spacing: 2px;font-size: 11px;margin-top: 4%">
                      Friends of Campus Animals or FoCA UP is an animal welfare group seeking ways to promote harmony between people and animals in a university setting.
                 </div>
            </div>
       </div>
       <div class="row" style="margin-top: 3%;">
            <div class="eight wide column" style=""> 
                 <div style="text-align: center; letter-spacing: 5px;font-size: 30px;font-weight: bold;margin-top: 5%">
                   OUR STORY
                 </div>
                 <div style="text-align: center; letter-spacing: 2px;font-size: 11px;margin-top: 2%">
                      UP shouldn't be just a place for great minds, it must also be a safe haven for the campus animals. <br><br>

The Friends of Campus Animals (FOCA UP) started out in July 2015 as a group of concerned faculty, students, alumni, staff, and residents of the Diliman campus. Our volunteers include friends who are not directly involved in the UP community but who support our ideals. We strongly believe that UP, as the country's premier university, must fulfill its responsibility of raising animal rights and welfare awareness and  promoting compassion inside the academic institution. <br><br>
<b> Animals are a big part of UP life. They are, in fact, part of the community. So why not stand up for them? Join us as we seek ways to promote harmony between people and animals in our community. </b>
                 </div>
            </div>
            <div class="eight wide column"> 
                 <img class='ui fluid image' style='' src="/assets/story.jpg">
            </div>
       </div>

       <div class="row" style="margin-top: 3%;">
            <div class="sixteen wide column">
                 <img class='ui fluid image' style='' src="/assets/group.jpg">
            </div>
       </div>
       <div class="row" style="margin-top: 1%;padding-bottom: 5%">
            <div class="four wide column">
                 <img class='ui fluid image' style='' src="/assets/1.jpg">
            </div>
            <div class="four wide column">
                 <img class='ui fluid image' style='' src="/assets/2.jpg">
            </div>
            <div class="four wide column">
                 <img class='ui fluid image' style='' src="/assets/3.jpg">
            </div>
            <div class="four wide column">
                 <img class='ui fluid image' style='' src="/assets/4.jpg">
            </div>
       </div>
  </div>

  <div class="ui fluid green button" style="padding: 2.5vw"> 
    <font size="3vw">
      <i class="hand paper icon"></i> PLEDGE TO SUPPORT OUR CAMPIGN<br> 
    </font>
  </div>

  
</div>

<script type="text/javascript">
     $(".regenerate").click(function(event) {
          var c = confirm("Generate a new token?");
          if(c)
               window.location.replace("/generate_token?origin=homepage"); 
     });
     $(".eraser.icon").click(function(event) {
          var c = confirm("Destroy this current active token?")
          if(c)
               window.location.replace("/end_session?origin=homepage");
     });
</script>