<style type="text/css">
     .column{
          text-align: center;
     }
</style>

<div class="ui container" style="margin: 5vw">
     <div class="ui grid">
     	<div class="three column row">
     		<div class="column">
     			<font style="color: #ED9121;font-weight: bolder;font-size: 1.5vw">DONATE THROUGH BANK<br><br><br>
                    </font>

                    BANK NAME HERE <br>
                    ACCOUNT NAME <br>
                    ACCOUNT NUMBER
     		</div>
     		<div class="column">
     			<font style="color: #ED9121;font-weight: bolder;font-size: 1.5vw">DONATE THROUGH PAYPAL<br><br><br>
                    </font>
                    <a href="https://www.paypal.me/ariannegallardo" target="_blank">
                         <button class="ui button">
                              <i class="paypal icon"></i>
                              DONATE VIA PAYPAL
                         </button>
                    </a>
     		</div>
     		<div class="column">
     			<font style="color: #ED9121;font-weight: bolder;font-size: 1.5vw">DONATE PET FOOD<br><br><br>
                    </font>
                    You can also help our campaign by donating pet food. You may send us an email or give us a call for further instructions.
     		</div>
     	</div>
     	<div class="row">
     		<div class="sixteen wide column" style="font-weight: bold;padding-top: 1vw">
     			For monetary donations, kindly complete this <a href="/verify_donation" style="color: #ED9121;text-decoration: underline;text-decoration-color: #ED9121"> form </a> and attach a deposit slip (donation through bank) or a confirmation (donation through paypal) to let us know about your donation.
     		</div>
     	</div>
     </div>
</div>