<style type="text/css">
	a:hover {
background-color:transparent;
}
   
</style>

<div class="ui container" style="margin-right: 45%;margin-left: 45%;margin-top: 5%;padding: 7%">
	
	<i class="caret left icon"></i> <%= link_to 'BACK', animalprofiles_path %>
	<h1>ADD A NEW ANIMAL PROFILE</h1>
	<div class="ui divider"></div>

	<%= render 'form', animalprofile: @animalprofile %>

</div>