

  <style type="text/css">
     body {
        <% if !session[:log_error].nil? %>
          background-image: url("/assets/signin.jpg");
          background-size: 140%;
        <% end %>
     }
     .close {
        cursor: pointer;
     }
</style>


<body>
  <% if !session[:log_error].nil? %>
        <div class="ui fluid container" style="padding-top: 3%;padding-bottom: 3%;padding-left: 8.5%;padding-right: 13.5%;position: fixed;top: 0;left:0;z-index: 10;background-color: white">
          <div class="ui grid">
              <div class="row">
                  <div class="ui five wide column" style="background-color: ;font-size: 30px">
                <img style='height: 3.5vw;width:3.5vw' src="/assets/logo.jpg.jpg">
                <a style='vertical-align: text-top;' href='/homepage'> campus animals </a>
            </div>
             <div class="ui bottom aligned eleven wide column" style="background-color: ;text-align: right; font-size: 12px;">

                <% if @my_session and @my_session == Account.find_by_id(0).username %>
                  <a href="/donations">donations </a> &nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/adoption_requests">adoption requests </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <% else %>
                  <a href="/donate">donate </a> &nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/adopt">adopt </a> &nbsp;&nbsp;&nbsp;&nbsp;
                <% end %>
                      
                          <a href="/viewprofiles">browse profiles </a> &nbsp;&nbsp;&nbsp;&nbsp;  

                      <%if !@my_session.nil? %> 
                          <a href="/animalprofiles">add/edit profiles </a>&nbsp;&nbsp;&nbsp;&nbsp;
                           <% if @my_session and @my_session == Account.find_by_id(0).username %>
                                    <% if session[:random].nil? %>
                                         <a href="/generate_token?origin=homepage">generate token </a>
                                         &nbsp;&nbsp;&nbsp;&nbsp;
                                    <% else %>
                                         <a class="regenerate">token: <%= session[:random] %> </a>
                                         &nbsp; <i class="eraser icon"></i>
                                         &nbsp;&nbsp;&nbsp;&nbsp;
                                    <% end %>
                          <% end %>
                          <a href="/logout">logout</a>
                      <% else %> 
                          <a href="#">log in</a>
                      <% end %>
                  </div>
              </div>
          </div>
      </div>

  <% end %>
  <div class="ui container segment" style="opacity: 1;text-align: center;width: 30%;margin-top: 15%;margin-left: 50%;background-color: white;">
    <div style="text-align: right;padding-bottom: 2vw;padding-top: 1vw">
      <i class="ui close icon"></i>
    </div>
     <i class="sign-in alternate icon"></i> LOGIN
     <div class="mini ui form" style="margin-top: 8%;padding-left: 5%;padding-right: 5%;padding-bottom: 5%;">
               <form action="/accounts" method="post">
                 <div class="field">
                    <div class="ui transparent input" style="border-bottom: solid;border-bottom-width: .3px"> 
                         <input style="text-align: center" type="text" class='ui fluid input' name="account[username]" id="account_username" required=""> 
                    </div>
                    <label>username</label>
               </div>
               <div class="field">
                    <div class="ui transparent input" style="border-bottom: solid;border-bottom-width: .3px"> 
                         <input style="text-align: center" type="password" class='ui fluid input' name="account[password]" id="account_password" required=""> 
                    </div>
                    <label>password</label>
               </div>

               <div class="two fields">
                    <div class="field" style="text-align: left">
                         <% if !session[:log_error].nil? %>
                              <div class="ui mini message" style="background-color: rgba(204, 24, 48,0.2);"> 
                                <font color="black">
                                   <%= session[:log_error] %>
                                </font>
                                   <%= session[:log_error] = nil %>

                              </div>
                         <% end %>
                    </div>
                    <div class="field" style="text-align: right">
                         <button type="submit" class="mini ui blue button" name="commit" data-disable-with="sign-in">sign-in</button>
                    </div> 
               </div>
               </form>
     </div>
</div>
</body>

<script type="text/javascript">
  $(".close.icon").click(function(event) {
    $("#overlay").hide();
    $("#loginbox").hide();
  });

   $(".regenerate").click(function(event) {
          var c = confirm("Generate a new token?");
          if(c)
               window.location.replace("/generate_token?origin=animalprofiles"); 
     });

     $(".eraser.icon").click(function(event) {
          var c = confirm("Destroy this current active token?")
          if(c)
               window.location.replace("/end_session?origin=animalprofiles");
     });
</script>